body {
    font-family: Arial, Helvetica, sans-serif;
    height: 323px;
    width: 659px;
    border: 2px solid #42b0f5;
    margin: auto;
    margin-top: 2cm;
}

div#time {
    margin-top: 1cm;
    position: relative;
    font-size: 16px;
    height: 0.7cm;
    width: 10cm;
    /* top: 1cm; */
    left: 3.3cm;
    text-align: start;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 8px;
    /* border: 3px solid #73AD21; */
    /* text-align: center; */
    /* margin-bottom: 0; */
    background-color: #c9cdd4;
    /* padding: 0%; */
    /* padding-bottom: 0%; */
}



form {
    border: 3px solid white;
    padding: 0px;
    margin-top: 0;
}

button {
    background-color: #42b0f5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

button:hover {
    opacity: 0.8;
}

.login {
    text-align: center;
    border: 0;

}

#my_button{
    border: 3px solid #3672f4;
    border-radius: 10px;
}

#user {
    /* padding-left: 2cm; */
    
    border: 2px solid #3672f4;
    background-color: #42b0f5;
    padding: 10px 20px 11px 20px;
    /* margin-top: 0.1cm; */
    /* margin-bottom: 20px; */
}

/* #user_input{
    border: #3672f4;
} */
.group_user {
    color: white;
    text-align: center;
    border: 0;
    margin-top: 0;
}

.group_pass {
    color: white;
    text-align: center;
    border: 0;
}

#pass {
    border: 2px solid #3672f4;
    background-color: #42b0f5;
    padding: 9px 64px 12px 20px;
}

input[type=text],
input[type=password] {
    height: 1.1cm;
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #3672f4;
    box-sizing: border-box;
}

/* .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
} */